body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    padding: 0;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    scroll-behavior: smooth;
    width: 1200px;
}